footer.footer
    .container
        section.contact
            form.contact__form(action="#")
                h3.contact__title Receive the latest updates on how to protect trails. Subscribe to the monthly edition of Paperless Trails.
                .contact__input.name-input
                    input(type="text" placeholder="Name") 
                .contact__input.email-input
                    input(type="text" placeholder="Email") 
                .contact__button
                    button(type='submit') Subscribe
        section.footer-nav