header.header
    .container-big
        .header-row
            .header-logo
                span M
                span uncak
            .header-nav
                .menu__phone
                    span
                    span
                    span
                nav.menu__desctop
                    ul.menu__list
                        li
                            a(href='#' class='menu__link') Home
                        li
                            a(href='#' class='menu__link') Go Hiking
                        li
                            a(href='#' class='menu__link') About
                        li
                            a(href='#' class='menu__link') Login
    .container-big
        .header-column.container-big
            h1.header__title Let’s get the top  of Mountain
            p.header__subtitle Here is the hiking information you need to decide if it is right for you, and to make it more interesting, enjoyable, and safe.
            a(href="#").header__button Get Started
