section.support
    .container
        .support__wrap
            .support__title
                h3.main-title With the support of our members,  and partners, we've improved trail access for millions of people
            .support__info
                .support__info-item
                    p.support__info-text We’ve Mobilized
                    p.support__info-text
                        span 558,768
                    p.support__info-text Trail Volunteers
                .support__info-item
                    p.support__info-text We’ve Facilitated
                    p.support__info-text
                        span 41,146
                    p.support__info-text Miles of Trail Maintenance & Construction
                .support__info-item
                    p.support__info-text Volunteers Have Contributed
                    p.support__info-text
                        span $108 Million
                    p.support__info-text in Volunteer Labor

