.support {
    position: relative;
    margin-bottom: 150px;
    padding: 0 15px;
}

.support__wrap {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        bottom: -60px;
        left: -250px;
        border-radius: 50%;
        background-color: rgb(245, 147, 153);
        width: 120px;
        height: 120px;
        opacity: 0.502;
        z-index: -1;
      }
}

.support__title {
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.support__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (min-width: 1115px) {
    justify-content: space-between;
    flex-direction: row;
    align-items: unset;
  }
}

.support__info-item {
  text-align: center;
  max-width: 400px;
  padding: 20px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:nth-child(2) {
    border-top: 2px solid rgb(26, 86, 163);
    border-bottom: 2px solid rgb(26, 86, 163);
  }

  @media (min-width: 1115px) {
    padding: 0;


    &:nth-child(2) {
      border: none;
    }
  }
}

.support__info-text {
  font-size: 28px;
  font-family: "Myriad Pro";
  color: rgb(38, 50, 56);
  line-height: 1;

  span {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    color: rgb(26, 86, 163);
    font-weight: bold;
  }

  @media (min-width: 1500px) {
    font-size: 24px;
  }
}
